.cell {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.occupied {
  background-color: rgb(167, 64, 197)
}

.empty {
  background-color: white;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}